<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
</head>
<body>
<div th:fragment="content">
    <div>
        <input id="searchInput" type="text" placeholder="Szukaj narzędzia...">
        <ul id="results"></ul>
    </div>
    <div>
        <button onclick="startQRScanner()">Skanuj QR</button>
        <div id="qr-reader" style="width:300px;"></div>
    </div>
    <script th:src="@{/js/app.js}"></script>
    <script src="https://unpkg.com/html5-qrcode"></script>
</div>
</body>
</html>
